TM.SaaS.OA/PF/SMT.SAAS.Platform.Client/Service References/PlatformWS/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlatformServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PlatformServices_AddModule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModule" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleByCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleByCodes" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleByCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleByCodesResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleCatalogByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCatalogByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleCatalogByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCatalogByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFileStream" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModuleByFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleByFile" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModuleByFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleByFileResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetTaskConfigInfoByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfigInfoByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetTaskConfigInfoByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfigInfoByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_RemoveShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_RemoveShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:portType name="PlatformServices">
    <wsdl:operation name="AddModule">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddModule" message="tns:PlatformServices_AddModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddModuleResponse" message="tns:PlatformServices_AddModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleByCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleByCodes" message="tns:PlatformServices_GetModuleByCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleByCodesResponse" message="tns:PlatformServices_GetModuleByCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleCatalogByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleCatalogByUser" message="tns:PlatformServices_GetModuleCatalogByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleCatalogByUserResponse" message="tns:PlatformServices_GetModuleCatalogByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleFileStream" message="tns:PlatformServices_GetModuleFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleFileStreamResponse" message="tns:PlatformServices_GetModuleFileStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModuleByFile">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddModuleByFile" message="tns:PlatformServices_AddModuleByFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddModuleByFileResponse" message="tns:PlatformServices_AddModuleByFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfigInfoByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUser" message="tns:PlatformServices_GetTaskConfigInfoByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUserResponse" message="tns:PlatformServices_GetTaskConfigInfoByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetShortCutByUser" message="tns:PlatformServices_GetShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetShortCutByUserResponse" message="tns:PlatformServices_GetShortCutByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByUser" message="tns:PlatformServices_AddShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByUserResponse" message="tns:PlatformServices_AddShortCutByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/RemoveShortCutByUser" message="tns:PlatformServices_RemoveShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/RemoveShortCutByUserResponse" message="tns:PlatformServices_RemoveShortCutByUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PlatformServices" type="tns:PlatformServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddModule">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleByCodes">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleByCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleCatalogByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleCatalogByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleFileStream">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModuleByFile">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddModuleByFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfigInfoByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/RemoveShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlatformServices">
    <wsdl:port name="BasicHttpBinding_PlatformServices" binding="tns:BasicHttpBinding_PlatformServices">
      <soap:address location="http://localhost:22222/PlatformServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>