TM.SaaS.OA/PF/SMT.SAAS.Platform.WebParts/Service References/NewsWS/PlatformServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="T_PF_NEWS">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="COMMENTCOUNT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ISIMAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISPARTY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISPOPUP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NEWSCONTENT" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="NEWSID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NEWSSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NEWSTITEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NEWSTYPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PUTDEPTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PUTDEPTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="READCOUNT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_PF_NEWS" nillable="true" type="tns:T_PF_NEWS" />
  <xs:complexType name="ArrayOfT_PF_DISTRIBUTEUSER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PF_DISTRIBUTEUSER" nillable="true" type="tns:T_PF_DISTRIBUTEUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PF_DISTRIBUTEUSER" nillable="true" type="tns:ArrayOfT_PF_DISTRIBUTEUSER" />
  <xs:complexType name="T_PF_DISTRIBUTEUSER">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DISTRIBUTEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEWER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEWTYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_PF_DISTRIBUTEUSER" nillable="true" type="tns:T_PF_DISTRIBUTEUSER" />
  <xs:complexType name="ArrayOfT_PF_NEWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PF_NEWS" nillable="true" type="tns:T_PF_NEWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PF_NEWS" nillable="true" type="tns:ArrayOfT_PF_NEWS" />
</xs:schema>