TM.SaaS.OA/OA/SMT.SaaS.OA.UI/Service References/SmtOACommonAdminService/SmtOACommonAdmin11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_OA_HIREAPPNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HIREAPP" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HIREAPPNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_HIREAPPNb42Hbcw" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSELISTNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSELIST" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSELISTNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSELISTNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSEINFOISSUANCENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSEINFOISSUANCE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSEINFOISSUANCENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSEINFOISSUANCENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSEINFONb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSEINFO" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSEINFONb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSEINFONb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_SENDDOCTYPENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_SENDDOCTYPE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_SENDDOCTYPENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_SENDDOCTYPENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_CONSERVATIONNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_CONSERVATION" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_CONSERVATIONNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_CONSERVATIONNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_MAINTENANCEAPPNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_MAINTENANCEAPP" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_MAINTENANCEAPPNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_MAINTENANCEAPPNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEDISPATCHDETAIL" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEDISPATCHNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEDISPATCH" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEDISPATCHNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEDISPATCHNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEUSEAPPNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEUSEAPP" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEUSEAPPNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEUSEAPPNb42Hbcw" />
</xs:schema>