TM.SaaS.OA/FrameWork/SMT.SaaS.Tools/Service References/PlatformWS/PlatformServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlatformServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:22222/PlatformServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PlatformServices_AddModule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModule" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleByCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleByCodes" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleByCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleByCodesResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleCatalogByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCatalogByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleCatalogByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleCatalogByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFileStream" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetModuleFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModuleByFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleByFile" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddModuleByFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModuleByFileResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetTaskConfigInfoByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfigInfoByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetTaskConfigInfoByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskConfigInfoByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_RemoveShortCutByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCutByUser" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_RemoveShortCutByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCutByUserResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCut_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCut" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCut_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByList" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddShortCutByList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutByListResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddNews_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNews" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddNewsByViewer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsByViewer" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_AddNewsByViewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsByViewerResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_UpdateNews_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNews" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_UpdateNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNewsResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_DeleteNews_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNews" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_DeleteNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNewsResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsModelByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsModelByID" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsModelByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsModelByIDResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsDetailsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsDetailsByID" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsDetailsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsDetailsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsList" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsLists" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListsResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByParams" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByState" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByStateResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetImageNewsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageNewsList" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetImageNewsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByPage" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByPageResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetPopupNewsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPopupNewsList" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetPopupNewsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPopupNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByMobile" />
  </wsdl:message>
  <wsdl:message name="PlatformServices_GetNewsListByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsListByMobileResponse" />
  </wsdl:message>
  <wsdl:portType name="PlatformServices">
    <wsdl:operation name="AddModule">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddModule" message="tns:PlatformServices_AddModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddModuleResponse" message="tns:PlatformServices_AddModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleByCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleByCodes" message="tns:PlatformServices_GetModuleByCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleByCodesResponse" message="tns:PlatformServices_GetModuleByCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleCatalogByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleCatalogByUser" message="tns:PlatformServices_GetModuleCatalogByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleCatalogByUserResponse" message="tns:PlatformServices_GetModuleCatalogByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetModuleFileStream" message="tns:PlatformServices_GetModuleFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetModuleFileStreamResponse" message="tns:PlatformServices_GetModuleFileStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModuleByFile">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddModuleByFile" message="tns:PlatformServices_AddModuleByFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddModuleByFileResponse" message="tns:PlatformServices_AddModuleByFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfigInfoByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUser" message="tns:PlatformServices_GetTaskConfigInfoByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUserResponse" message="tns:PlatformServices_GetTaskConfigInfoByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetShortCutByUser" message="tns:PlatformServices_GetShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetShortCutByUserResponse" message="tns:PlatformServices_GetShortCutByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByUser" message="tns:PlatformServices_AddShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByUserResponse" message="tns:PlatformServices_AddShortCutByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveShortCutByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/RemoveShortCutByUser" message="tns:PlatformServices_RemoveShortCutByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/RemoveShortCutByUserResponse" message="tns:PlatformServices_RemoveShortCutByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCut">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddShortCut" message="tns:PlatformServices_AddShortCut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutResponse" message="tns:PlatformServices_AddShortCut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByList">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByList" message="tns:PlatformServices_AddShortCutByList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddShortCutByListResponse" message="tns:PlatformServices_AddShortCutByList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNews">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddNews" message="tns:PlatformServices_AddNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddNewsResponse" message="tns:PlatformServices_AddNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewsByViewer">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/AddNewsByViewer" message="tns:PlatformServices_AddNewsByViewer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/AddNewsByViewerResponse" message="tns:PlatformServices_AddNewsByViewer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNews">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/UpdateNews" message="tns:PlatformServices_UpdateNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/UpdateNewsResponse" message="tns:PlatformServices_UpdateNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/DeleteNews" message="tns:PlatformServices_DeleteNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/DeleteNewsResponse" message="tns:PlatformServices_DeleteNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsModelByID">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsModelByID" message="tns:PlatformServices_GetNewsModelByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsModelByIDResponse" message="tns:PlatformServices_GetNewsModelByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsDetailsByID">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsDetailsByID" message="tns:PlatformServices_GetNewsDetailsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsDetailsByIDResponse" message="tns:PlatformServices_GetNewsDetailsByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsList">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsList" message="tns:PlatformServices_GetNewsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListResponse" message="tns:PlatformServices_GetNewsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsLists">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsLists" message="tns:PlatformServices_GetNewsLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListsResponse" message="tns:PlatformServices_GetNewsLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByParams">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByParams" message="tns:PlatformServices_GetNewsListByParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByParamsResponse" message="tns:PlatformServices_GetNewsListByParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByState">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByState" message="tns:PlatformServices_GetNewsListByState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByStateResponse" message="tns:PlatformServices_GetNewsListByState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageNewsList">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetImageNewsList" message="tns:PlatformServices_GetImageNewsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetImageNewsListResponse" message="tns:PlatformServices_GetImageNewsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByPage" message="tns:PlatformServices_GetNewsListByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByPageResponse" message="tns:PlatformServices_GetNewsListByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPopupNewsList">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetPopupNewsList" message="tns:PlatformServices_GetPopupNewsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetPopupNewsListResponse" message="tns:PlatformServices_GetPopupNewsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByMobile" message="tns:PlatformServices_GetNewsListByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PlatformServices/GetNewsListByMobileResponse" message="tns:PlatformServices_GetNewsListByMobile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PlatformServices" type="tns:PlatformServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddModule">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleByCodes">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleByCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleCatalogByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleCatalogByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleFileStream">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetModuleFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModuleByFile">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddModuleByFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskConfigInfoByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetTaskConfigInfoByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveShortCutByUser">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/RemoveShortCutByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShortCut">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddShortCut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShortCutByList">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddShortCutByList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNews">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewsByViewer">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/AddNewsByViewer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNews">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/UpdateNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNews">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/DeleteNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsModelByID">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsModelByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsDetailsByID">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsDetailsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsList">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsLists">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByParams">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsListByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByState">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsListByState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageNewsList">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetImageNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByPage">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsListByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopupNewsList">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetPopupNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsListByMobile">
      <soap:operation soapAction="http://tempuri.org/PlatformServices/GetNewsListByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlatformServices">
    <wsdl:port name="BasicHttpBinding_PlatformServices" binding="tns:BasicHttpBinding_PlatformServices">
      <soap:address location="http://localhost:22222/PlatformServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>