TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/PersonnelWS/PersonnelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/PersonnelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:12168/PersonnelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_HR_IMPORTSETMASTERNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_IMPORTSETMASTER" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_IMPORTSETMASTERNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_IMPORTSETMASTERNb42Hbcw" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_ASSESSMENTFORMMASTERNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ASSESSMENTFORMMASTER" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ASSESSMENTFORMMASTERNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_ASSESSMENTFORMMASTERNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_CHECKPOINTSETNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_CHECKPOINTSET" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_CHECKPOINTSETNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_CHECKPOINTSETNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_CHECKPROJECTSETNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_CHECKPROJECTSET" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_CHECKPROJECTSETNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_CHECKPROJECTSETNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEECHECKNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEECHECK" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEECHECKNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEECHECKNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEPOSTCHANGENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEPOSTCHANGE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEPOSTCHANGENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEPOSTCHANGENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_COMPANYNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_COMPANY" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_COMPANYNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_COMPANYNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_DEPARTMENTDICTIONARYNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_DEPARTMENTDICTIONARY" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_DEPARTMENTDICTIONARYNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_DEPARTMENTDICTIONARYNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_POSTDICTIONARYNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_POSTDICTIONARY" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_POSTDICTIONARYNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_POSTDICTIONARYNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_DEPARTMENTNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_DEPARTMENT" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_DEPARTMENTNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_DEPARTMENTNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_POSTNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_POST" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_POSTNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_POSTNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_PENSIONMASTERNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_PENSIONMASTER" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_PENSIONMASTERNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_PENSIONMASTERNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_RESUMENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_RESUME" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_RESUMENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_RESUMENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEPOSTNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEPOST" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEPOSTNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEPOSTNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_LEFTOFFICENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_LEFTOFFICE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_LEFTOFFICENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_LEFTOFFICENb42Hbcw" />
</xs:schema>